@charset "UTF-8";

body{
    background-color: rgb(109, 184, 209);
}

h1 {
    color: rgb(0, 67, 250);
}

h1#principal {
    text-align: center;
    background-color: rgb(1, 163, 204);
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(4, 133, 238);
}
p {
    color: rgb(26, 32, 94);
    text-align: justify;
}