@charset "UTF-8";

body {
    background-color: rgb(181, 190, 146);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
h1 {
    color: rgb(11, 0, 158);
    background-color: rgb(204, 84, 84);
}
h2{
    color: rgb(0, 250, 54);
}
p {
    text-align: justify;
    color: rgb(0, 36, 0);
}